<% if cached_recently_viewed_products.any? %>
  <div id="recently_viewed" data-hook>
    <div class="bigTitle"><%= Spree.t(:recently_viewed_products) %></div>
      <% i = 1 %>
    <div class="row" id="products">
      <% cached_recently_viewed_products.each do |product| %>
          <div id="product_<%= product.id %>" class="col-md-3" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
            <div class="catalogBox">
              <div class="goodTitle">
                <span itemprop="name"><%= product.name %></span>
              </div>
                <%= link_to product, itemprop: "url" do %>
                <div class="goodPhoto" itemprop="image" content="<%=  (product.images.first.nil?)?  asset_path('noimage/small.png') : main_app.url_for(product.images.first.url(:small)) %>" style="background-image: url(<%=  (product.images.first.nil?)?  asset_path('noimage/small.png') : main_app.url_for(product.images.first.url(:small)) %>);">
                </div>
                <% end %>
            </div>
          </div>
        <% i+=1 %>
        <% break if i >= 5 %>
      <% end %>
    </div>
  </div>
<% end %>

